# DO NOT REMOVE OR MODIFY. Doing so will break the Node.js application.
<IfModule mod_passenger.c>
    PassengerAppEnv production
    PassengerAppRoot "/home/u516356423/public_html"
    PassengerBaseURI "/hcgi"
    PassengerNodejs "/home/u516356423/nodevenv/public_html/22/bin/node"
    PassengerAppType node
    PassengerStartupFile "index.js"
</IfModule>
